.text-core {
  position: relative;
}
.text-core .text-wrap {
  background: #fff;
  position: absolute;
}
.text-core .text-wrap textarea,
.text-core .text-wrap input {
  outline: none;
  resize: none;
  position: absolute;
  z-index: 1;
  background: none;
  overflow: hidden;
  margin: 0;
  white-space: nowrap;
  height: auto;
}
